<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yedam.board.service.impl.CommentsMapper">
	<select id="getComments" resultType="CommentsVO" parameterType="CommentsVO">
	<!-- parameterType 생략하면 기본으로 CommentsVO가 들어감  -->
	<!-- select에는 반드시 resultType가 들어가야함 -->
		SELECT ID
			   ,NAME
			   ,CONTENT
			   ,BOARD_ID
			   ,WDATE
		FROM   COMMENTS
		WHERE  ID = #{id} 		
	</select>
	<select id="getSearchComments" resultType="CommentsVO" parameterType="CommentsVO">
	<!-- 전체조회 -->
		SELECT ID
			   ,NAME
			   ,CONTENT
			   ,BOARD_ID
			   ,WDATE
		FROM   COMMENTS
		WHERE  BOARD_ID = #{board_id} 	
	</select>
	<insert id="insertComments" statementType="CALLABLE" parameterType="CommentsVO">
		{ call COMMENTS_INS(	#{content}
								, #{name}
								, #{board_id}
								, #{id, mode=OUT, jdbcType=NUMERIC, javaType=java.lang.String}
								, #{out_msg, mode=OUT, jdbcType=VARCHAR, javaType=java.lang.String}
								<!-- in모드는 생략가능하지만 out모드는 적어줘야함  -->
							) }
	</insert>
	
	<delete id="deleteComments" parameterType="CommentsVO">
		DELETE FROM COMMENTS
		WHERE
		<choose>
			<when test="ids != null and ids.length > 0">
				 ID IN
				<foreach collection="ids" open="(" separator="," item="i" close=")">
				<!-- open:처음 for을 감싸는것 separator:구분해주는 기호(1,2,3) item:변수명 -->
					#{i}
					
				</foreach>
			</when>
			<otherwise>
				ID = #{id}
			</otherwise>
		</choose>
	</delete>	
</mapper>