<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.emp.service.impl.EmpMapper">
	<!-- 레코드건수 조회 -->
	<select id="getCount" resultType="int">
		SELECT COUNT(*) FROM EMPLOYEES
		<where>
			<if test="department_id != null and department_id != ''">
				DEPARTMENT_ID = #{department_id}
			</if>
			<if test="job_id != null and job_id != ''">
				AND JOB_ID = #{job_id}
			</if>
			<if test="first_name != null and first_name != ''">
				AND FIRST_NAME = #{first_name}
			</if>
		</where>
	</select>
	
	<select id="getSearchEmp" parameterType="EmpSearchVO" resultType="emp">
	select b.*   from( select rownum rn, a.*    from (
		SELECT  
				E.EMPLOYEE_ID,
				E.FIRST_NAME,
				E.LAST_NAME,
				E.EMAIL,
				E.PHONE_NUMBER,
				E.HIRE_DATE,
				E.JOB_ID,
				E.SALARY,
				E.COMMISSION_PCT,
				E.MANAGER_ID,
				E.DEPARTMENT_ID,
				D.DEPARTMENT_NAME, 
				J.JOB_TITLE 
		FROM DEPARTMENTS D LEFT OUTER JOIN EMPLOYEES E 
		ON D.DEPARTMENT_ID = E.DEPARTMENT_ID
		LEFT OUTER JOIN JOBS J
		ON
		J.JOB_ID = E.JOB_ID
		<where>
			<if test="department_id != null and department_id != ''">
				E.DEPARTMENT_ID = #{department_id}
			</if>
			<if test="job_id != null and job_id != ''">
				AND E.JOB_ID = #{job_id}
			</if>
			<if test="first_name != null and first_name != ''">
				AND E.FIRST_NAME = #{first_name}
			</if>
		</where>
		ORDER BY DEPARTMENT_ID
		) a) b where rn between #{start} and #{end}	
		<!-- select일 경우 resultType가 꼭 들어가야함(어떤 VO에 담을건지 넣어야함) -->
	</select>
	<insert id="insertEmp" parameterType="emp">
	INSERT INTO EMPLOYEES
				(EMPLOYEE_ID,
				LAST_NAME,
				EMAIL,
				HIRE_DATE,
				JOB_ID, 
			<if test="manager_id != null">MANAGER_ID,</if>
				DEPARTMENT_ID)
			VALUES(#{employee_id},
					 #{last_name}, 
					 #{email},
					 #{hire_date},
					 #{job_id}, 
			<if test="manager_id != null">#{manager_id}, </if>
					 #{department_id})
	</insert>
	<update id="updateEmp">
		UPDATE EMPLOYEES
		<set>
			<if test="first_name != null">FIRST_NAME=#{first_name}, </if>
			<if test="last_name != null">	LAST_NAME=#{last_name}, </if>
			<if test="email != null">EMAIL=#{email}, </if>
			<if test="hire_date != null">HIRE_DATE=#{hire_date},</if>
			<if test="job_id != null">JOB_ID=#{job_id}  </if>
		</set>
				WHERE EMPLOYEE_ID = #{employee_id}
	</update>
	<delete id="deleteEmp">
		DELETE 
		FROM EMPLOYEES 
		WHERE EMPLOYEE_ID=#{employee_id}
	</delete>
	<select id="getEmp" resultType="emp">
		SELECT * 
		FROM EMPLOYEES 
		WHERE EMPLOYEE_ID=#{employee_id}
	</select>
</mapper>